body {
    font-family: 'Ubuntu', sans-serif;
}

a, a:visited, a:link, a:active {
    text-decoration: none;
    color: #202020;
    font-weight: 700;
}

a:hover {
    text-decoration: none;
    color: #404040;
}

.jumbotron {
    background-color: #1ca0f1;
    color: #fff;
    padding: 75px 25px;
}

.navbar {
    margin-bottom: 0;
    background-color: #1ca0f1;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar li form, .navbar li input, .navbar .navbar-brand, .icon-bar {
    color: #fff !important;
    padding: 10px;
}

.img-brand {
    width: 32px;
    padding: 5px;
    margin: 2px;
    background-color: white;
    border-radius: 50%;
}

.nav-item {
    margin: 1em;
    padding: 10px;
}

.navbar-nav li form input:hover, .navbar-nav li.active form input {
    color: #1ca0f1 !important;
    background-color: #fff !important;
    text-decoration: none;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
